.App {
  background:
    url('../images/wp2632430-black-background-hd.jpg') no-repeat
    center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .App {
    height: 100vh;
  }
}
