.card_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  padding-left: 0;
  width: 270px;
  height: 400px;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.card_item:focus {
  outline: none;
}

@media screen and (min-width: 992px) {
  .card_item {
    margin-right: 50px;
  }
}

.description_container {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.product_description {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.7rem;
}

.product_amount {
  margin: 0;
  font-size: 0.7rem;
  color: gray;
}

.amount {
  font-weight: bold;
}

.product_name {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 2.2rem;
}

.ingredient {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: bold;
}

.cat_image {
  width: 170px;
  height: 210px;
  object-fit: cover;
}

.image_container {
  display: flex;
  align-items: flex-end;
  position: relative;
}

.weight {
  display: flex;
  position: absolute;
  right: 0;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  opacity: 0.8;
  line-height: 1;
}

.weight_amount {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.weight_degree {
  color: white;
  font-weight: bold;
}
