.card_item {
  display: flex;
  border: 3px solid #4d7298;
  border-radius: 10px;
  width: 250px;
  height: 350px;
  align-items: flex-end;
  background-color: white;
}

.cat_image {
  width: 150px;
  height: 200px;
  object-fit: cover;
}
