.card_item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #36b5d1;
  border-radius: 10px;
  width: 250px;
  height: 350px;
  align-items: flex-start;
  background-color: white;
}

.product_name {
  margin: 0;
  font-size: 1.8rem;
}

.ingredient {
  margin: 0;
  font-size: 1.5rem;
}

.cat_image {
  width: 150px;
  height: 200px;
  object-fit: cover;
}

.image_container {
  display: flex;
  align-items: flex-end;
}

.weight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #36b5d1;
  opacity: 0.8;
  line-height: 1;
}

.weight_amount {
  font-size: 2rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.weight_degree {
  color: white;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
