.header_container {
  display: flex;
  justify-content: center;
}

.header_text {
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  color: white;
}

@media screen and (max-width: 576px) {
  .header_text {
    font-size: 1.2rem;
  }
}
